<% provide(:title) %>

<% if signed_in? %>
  <section>
    <%= render 'shared/user_home' %>
  </section>
  <section>
    <%= render 'shared/stats' %>
  </section>
  <section>
    <%= render 'shared/micropost_form' %>
  </section>
 
<% else %>

  <%= render 'shared/guest_home' %>

<% end %>